<table class="table table-hover ">
  <thead class="thead-inverse">
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Rating</td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% fables.each do |fable| %>
      <tr>
        <td><%= fable.title %></td>
        <td><%= link_to fable.author.print, user_path(fable.author) %></td>
        <td><%= fable.get_rating %></td>
        <td>
          <%= create_fable_btn(fable) %>
        </td>
        <td>
          <%= read_fables_btn(fable) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>