<%= form_for(@fable) do |f| %>
  <% if @fable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fable.errors.count, "error") %> prohibited this fable from being saved:</h2>

      <ul>
      <% @fable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>
    <p>Write each line of your fable below</p>
    <%= f.fields_for :lines do |line| %>
      <li>
        <%= line.text_field :text, :size => 55 %>
        <%= line.select(:key_word, Line.key_words) %>
        <br><br>
      </li>
     
    <% end %>
    
  </div>
  
 
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
