<p id="notice"><%= notice %></p>

<h1>Listing Fables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fables.each do |fable| %>
      <tr>
        <td><%= link_to 'Show', fable %></td>
        <td><%= link_to 'Edit', edit_fable_path(fable) %></td>
        <td><%= link_to 'Destroy', fable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fable', new_fable_path %>
