<%= link_to "Written by - #{@fable.author.print}", user_path(@fable.author) %>

<br>
<% @fable.lines.each do |line| %>
		<%= print_line(line) %>
<% end %>


<%= button_to "Complete Fable!", new_user_fable_path(id: @fable.id), method: :post %>

<br><br>
<div class="footer">
	<%= link_to 'Edit', edit_fable_path(@fable) %> |
	<%= link_to 'Back', fables_path %>
</div>
