<p id="notice"><%= notice %></p>

<h1><%= @user_fable.fable.title %></h1>
<%= @user_fable.print_story %>
<br><br>

<% if is_user_fable_completer?(@user_fable) %>
	<%= link_to 'Edit', edit_user_fable_path(@user_fable) %> |
<% end %>
<%= back_btn %>
